<section class="header-container">
  <aside class="box-1">
    <img class="fygo-img" src="../../assets/header img/Image 2.png" />
  </aside>
  <aside class="box-2">
    <ul>
      <li>HOME</li>
      <li>TEST RIDE</li>
      <li>LOCATIONS</li>
      <li>PRICING</li>
    </ul>

    <aside class="sub-box-1">
      <img class="round" src="../../assets/header img/Group 47241.svg" />
      <aside class="head-text">
        <p>Email us Now:</p>
        <h5>info@fygo.com</h5>
      </aside>
    </aside>
    <aside class="sub-box-1">
      <img class="round" src="../../assets/header img/Group 47242.svg" />
      <aside class="head-text">
        <p>Call us Now:</p>
        <h5>+988 844 8744 55</h5>
      </aside>
    </aside>
  </aside>
</section>

<section class="body">
  <aside class="box-1">
    <img class="grill-1" src="../../assets/body-1-img/Group 45729.svg" />
    <h1 class="box-1-text">FYGO</h1>
  </aside>
  <aside class="box-2">
    <aside class="box-2-text">
        <h1>BE THE VISIONARY</h1>
        <h1>GO WITH</h1>
        <h1 style="color: #00BFFF;">ECOFREINDLY</h1>

    </aside>
   
    <aside class="btn">
      <button class="bt">Find Nearest Station</button>
      <button>Become a Dealer</button>
    </aside>
  </aside>
  <aside class="box-3">
    <img class="bike" src="../../assets/body-1-img/Group 47237.png" />
  </aside>
</section>
