<section class="main-container">
  <aside class="box-1">
    <aside class="box-1-sub">
      <img class="grill" src="../../assets/body-2-img/Group 45729.svg" />
    </aside>
    <aside class="box-2-sub">
        <img
        class="swap"
        src="../../assets/body-2-img/electric-motorcycle-scooter-Gogoro-battery.jpeg"
      />
     
        <button>Charging station for all Businesses</button>
      

    </aside>


  </aside>
  <aside class="box-2">
    <h1>About Echarge</h1>
    <h1>Explore the world and become your own tour guide.</h1>
    <h4>
      Delectus, nesciunt imperdiet dolor litora orci? Tristique per natus.<br> Saepe
      convallis, nostra. Ducimus convallis , bibendum elit. Delectus,<br> nesciunt
      imperdiet dolor litora orci? Tristique per natus. Saepe convallis,<br> nostra.
      Ducimus convallis , bibendum elit.Delectus, <br> nesciunt imperdiet dolor
      litora orci? Tristique per natus. Saepe
    </h4>
    <aside class="sub-box">
      <img src="../../assets/body-2-img/Icon ionic-md-flower.svg" />
      <h5>
        Delectus, nesciunt imperdiet dolor litora orci? Tristique per natus.
      </h5>
      <img src="../../assets/body-2-img/Icon ionic-md-flower.svg" />
      <h5>
        Delectus, nesciunt imperdiet dolor litora orci? Tristique per natus.
      </h5>
      <img src="../../assets/body-2-img/Icon ionic-md-flower.svg" />
      <h5>
        Delectus, nesciunt imperdiet dolor litora orci? Tristique per natus.
      </h5>
    </aside>
    <button>Know More</button>
  </aside>
</section>
